<form id="form-add-to-cart{{index}}" name="add-to-cart" method="post" action="{{@root.meta._links.addToCart.href}}">
  <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
  <input type="hidden" name="productId" value="{{product.productId}}">
  <input type="hidden" name="variantId" value="{{product.variantId}}">
  <input type="hidden" name="productSku" value="{{product.variant.sku}}">
  <input type="hidden" name="productSlug" value="{{product.slug}}">


  <div class="row">
    <ul class="product-actions-list list-inline">

      <li>
        <button type="submit" class="add-to-bag-btn text-center">
          {{i18n "catalog:cart.add"}}
        </button>
      </li>
    </ul>
  </div>
</form>
