<div class="col-xs-12">
		<div class="section">
		{{#each producthighlights.list}}
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<img alt="{{title}}" src="{{image}}" title="{{title}}">
			</div>
			<div class="col-xs-12 col-sm-6">
				<h3>{{title}}</h3> 
				<h4>{{subtitle}}</h4> 
				<p>{{text}}</p>
			</div>
		</div>
		{{/each}}
		</div>
</div>