<!DOCTYPE html>
<html lang="en">

<head>
  {{> common/htmlhead}}
</head>

<body>
  <div class="darkbg hidden"></div>
  {{> common/header}}
  <div class="pdp-page">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 breadcrumb-col">
          {{> catalog/breadcrumb breadcrumb=content.breadcrumb}}
        </div>
      </div>
      <div class="row product-info-row-pdp">
        {{> catalog/pdp/product-info product=content.product deliveryRates=content.deliveryRates}}
      </div>
    </div>
  </div>
  <div class="pdp-page-review">
    <div class="container">
      <a class="btn btn-default createPDF" href="#">create pdf</a>
      <div class="row">
        <div class="col-sm-12">
          <h2 class="may-like">{{i18n "catalog:description.title"}}</h2>
        </div>
      </div>
      <div class="row margin-bottom">
        {{> catalog/pdp/product-characteristics characteristics=content.product.characteristics}}
      </div>
    </div>
  </div>
  <div class="pdp-page-review">
    <div class="container">
      <div class="row">
        {{> catalog/pdp/product-highlights producthighlights=content.product.highlights}}
      </div>
    </div>
  </div>
   <div class="pdp-page-review">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="may-like">{{i18n "catalog:technicaldata.title"}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="section">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                {{> catalog/pdp/product-technical-data technicalData=content.product.details}}
              </div>
              <div class="col-xs-12 col-sm-6">
                <h3>{{i18n "catalog:applications.title"}}</h3>
                {{> catalog/pdp/product-applications applications=content.product.applications}}
              </div>
               <div class="col-xs-12 col-sm-6">
                <h3>{{i18n "catalog:assembling.title"}}</h3>
                {{> catalog/pdp/product-assembling assembling=content.product.assembling}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="pdp-page-review">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="may-like">{{i18n "catalog:deliverycontents.title"}}</h2>
          </div>
        </div>
        <div class="row">
          {{> catalog/pdp/product-delivery-contents productdeliverycontents=content.product.deliveryContents}}
        </div>
      </div>
    </div>
  </div>
   <div class="pdp-page-review margin-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="may-like">{{i18n "catalog:variants.title"}}</h2>
          </div>
        </div>
        <div class="row">
            {{> catalog/pdp/product-table}}
        </div>
    </div>
</div>
  <div class="bg-gray">
     <div class="pdp-page-review">
      <div class="container">
       <div class="section">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="may-like">{{i18n "catalog:accessories.title"}}</h2>
          </div>
        </div>
        <div class="row">
            {{> components/accessories}}
        </div>
      </div>
    </div>


      <div class="pdp-page-review">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="may-like">{{i18n "catalog:suggestions.title"}}</h2>
            </div>
          </div>
          <div class="row">
            {{> catalog/suggestions}}
        </div>
       </div>
      </div>
    </div>
  </div>
  <div class="pdp-page-review">
   <div class="container">

     <div class="row">
       <div class="col-sm-12">
         <h2 class="may-like">{{i18n "catalog:spareParts.title"}}</h2>
       </div>
     </div>
     <div class="row margin-bottom">
         {{> catalog/pdp/product-spare-parts-group spareParts=content.product.spareParts}}
     </div>

 </div>

  {{> common/footer}}
  {{> common/htmlscripts}}
</body>
</html>
